<div class="col-md-8 blog-main">
	<h2><%= @blog.title %></h2>

	<section>
		<%= render 'breadcrumbs' %>
	</section>
	
	<section class="admin-links">
		<% if logged_in?(:site_admin) %>
			<%= link_to @blog.status, toggle_status_blog_path(@blog), class: 'badge badge-primary' %>
		<% end %>
	</section>
	<p>
    	<%= markdown_helper(@blog.body) %>
	</p>
	<p class='badge badge-secondary'>
		<%= @blog.topic.title %>
	</p>

	<% unless logged_in?(:site_admin) %>
		<p class="comment-label">
			Want to share your thoughts? 
			<%= link_to 'Register to Comment', new_user_registration_path, class: 'btn btn-sm btn-outline-primary' %>
		</p>
	<% end %>

	<%= render 'comments/comment_form' %>	
	<div id="comments" data-blog-id="<%= @blog.id %>">
		<%= render @blog.comments %>
	</div>
	
</div>