<article>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<%=image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>		
			</div>
			<div class="col-md-5">
				<section>
					<h1><%= @portfolio_item.title %></h1>
					<em><%= @portfolio_item.subtitle %></em>
				</section>

				<section>
					<p><%= @portfolio_item.body %></p>
				</section>

				<section>
					<h3> Technologies Used: </h3>
					<% @portfolio_item.technologies.each do |technology| %>
						<p> <%= technology.name %> </p>
					<% end %>
				</section>
			</div>

		</div>
	</div>
</article>

	







