<nav class="nav nav-masthead justify-content-center">
  <%= link_to "Home", root_path, class: 'nav-link'%>
  <%= link_to "About", about_us_path, class: 'nav-link'%>
  <%= link_to "Portfolio", portfolios_path, class: 'nav-link'%>
  <%= link_to "News", blogs_path, class: 'nav-link'%>
  <%= link_to "Hire Us", hire_us_path, class: 'nav-link'%>
</nav>